* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 15px;
}

main {
    max-width: 375px;
    margin: 0 auto;
    margin-top: 15vh;
    padding: 30px;
}

/* for desktop size 1440px */
@media only screen and (min-width: 1440px) {
    main{
    margin-top: 20vh;
    }
}   

.card{
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #d3dce5;
}

img {
    width: 100%;
    border-radius: 10px;
}

p{
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

#title {
   color: hsl(218, 44%, 22%); 
   font-size: 20px;
   font-weight: 900;
   text-align: center;
}

.content {
    padding: 15px;
}
