/* css reset  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
source {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

p,
h1 {
  overflow-wrap: break-word;
}

body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 15px;
  display: grid;
  place-content: center;
}

main {
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
}

/* for desktop size 1440px
@media only screen and (min-width: 1440px) {
  main {
    margin-top: 20vh;
  }
} */

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #d3dce5;
}

img {
  width: 100%;
  border-radius: 10px;
}

p {
  text-align: center;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}

#title {
  color: hsl(218, 44%, 22%);
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

.content {
  padding: 15px;
}
